{% extends 'base.html' %}

{% load staticfiles %}

{% block extrahead %}
<title>Home | inGenius 2018</title>
{% endblock %}

{% block content %}
<!-- Banner -->
  <section id="banner">
    <img src="https://gallery.mailchimp.com/ed80191df45ab9a645c0cf580/images/ad5c57ff-713a-4be6-8d7a-b389c4396351.png" width="50%"  alt="inGenius 2015" />
    
    <p style="font-size:22px;">Get. Set. Hack.</p>
    <ul class="actions">
      {% if not request.user.is_authenticated %}
      <li><a href="/login" class="button alt">Login</a></li>
      {% endif %}
    </ul>
  </section>

<!-- Main -->

{% endblock %}
